main {
    text-align:center;
}
main > * {
    float:left;
}
.ajouterqch {
    color:red;
    border:1px solid red;
    border-radius: 44444px;
}
main > * {
	float: left;
	clear: both;
	/* text-align: center; */
	display: block;
            padding:10px;
}

main {
	width: 100%;
	height: 300px;
	display: inline-block;
	position: relative;
	text-align: center;
}