main {
top: 80px;
}
.title {
background-color:#d62300;
color:#f5ebdc;
}
.pickup {
background-color:rgb(80, 35, 20);
color:#f5ebdc;
width:100%;
text-align:center;
height:30px;


}
.pickup .tab2 {
width:50%;
float:left;
background-color:#f5ebdc;
color:rgb(80, 35, 20);
}
.pickup .tab {
width:50%;
height:100%;
float:left;
vertical-align:middle;
line-height:100%;
}
.mybtn{
}
input {
width:100%;
}
