adium-theme-ubuntu==0.3.4
aenum==2.2.6
attrs==21.4.0
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.10.8
chardet==4.0.0
dateparser==0.7.6
decorator==4.0.6
defer==1.0.6
ecdsa==0.13
fbchat==1.9.7
ftfy==4.4.3
html==1.16
html5lib==1.1
htmlentities==0.2.1
HTMLParser==0.0.2
idna==2.10
ipaddress==1.0.23
langdetect==1.0.8
lxml==4.5.2
mercurial==3.7.3
multipledispatch==0.6.0
mysql-connector-python==2.0.4
mysql-utilities==1.6.1
numpy==1.16.6
opencv-contrib-python==4.2.0.32
paho-mqtt==1.6.1
paramiko==1.16.0
pexpect==4.0.1
Pillow==3.1.2
psutil==3.4.2
ptyprocess==0.5
pycountry==20.7.3
pycrypto==2.6.1
pygobject==3.20.0
pyodbc==3.0.7
pysqlite==2.7.0
python-apt==1.1.0b1+ubuntu0.16.4.12
python-dateutil==2.8.1
python-debian==0.1.27
pytz==2020.1
pyxdg==0.25
regex==2020.9.27
requests==2.27.1
scipy==0.17.0
scour==0.32
six==1.15.0
soupsieve==1.9.6
tzlocal==2.1
unity-lens-photos==1.0
urllib3==1.26.13
wcwidth==0.2.6
webencodings==0.5.1
