main {
top: 80px;
}
.title {
background-color:#d62300;
color:#f5ebdc;
}
.pickup {
background-color:rgb(80, 35, 20);
color:#f5ebdc;
width:100%;
text-align:center;
height:30px;


}
.pickup .tab2 {
width:50%;
float:left;
background-color:#f5ebdc;
color:rgb(80, 35, 20);
cursor:pointer;
}
.pickup .tab {
width:50%;
height:100%;
float:left;
vertical-align:middle;
line-height:100%;
}
.mybtn{
}
input {
width:100%;
}
.tabs-list {
  flex-wrap: nowrap;
}
.tabs-list > * {
	width: calc(100%/3);
	display: block;
	position: relative;
	float: left;
	text-align: center;
         cursor:pointer;
}
.tabs-list > .selected {
   border-bottom: 3px solid red;
}
#result {
height:300px;
}
#result.close{
height:0px;
}
#map {
height:0px;
}
#map.result{
height:100px;
}
#popup {
	background: white;
	border: 1px solid black;
	color: black;
	padding: 10px;
}
[name="address"] {
	max-width: 100%;
	display: block;
	box-sizing: border-box;
width:100%;
float:left;
}
.mysearch{
padding:20px;

text-align:center;

}
.searchdiv{
width:10%;
position:absolute;
background:white;
right:20px;
top:5px;

}
.searchbar {
position:relative;
}
.deliver {
background:red;
color:white;
font-weight:900;
height:90px;
width:100%;
display:block;
font-size:30px;

}
.notdeliver {
pointer-events:none;
background:grey;
border-radius:300000px;
color:white;
}
.addressnonreconnue 
{
color:red;
}
.addressereconnue 
{
display:none;
color:red;
}
.myerror{
border:1px solid red;
}
