<ion-view class="myfullmenu" ng-click="switch_mainmenu($event)" view-title="Full Menu" cache-view="false">
        
    
  <div ng-hide="momentjournee" class="menutitle">Our Menu<div class="breakfasttoggle breakfast {{momentjournee===false ? 'momentjournee' : ''}}" ng-click="toggle_momentjournee('breakfast')">Breakfast</div><div class="daytimetoggle daytime {{momentjournee ? 'momentjournee' : ''}}" ng-click="toggle_momentjournee('daytime')">Daytime</div></div>
  <div ng-hide="momentjournee === false" class="menutitle"><span>Daytime Menu</span><br><span>10:30 AM to close</span></div>

        <ion-tabs ng-hide="momentjournee === false"  id="mymainmenutabs" style="" delegate-handle="mainmenutabs" class="parentdiv tabsmenu tabs-striped tabs-positive tabs-top tabs-icon-top has-tabs-top">
<ion-tab class="menu-fullmenu" title="Full Menu">
          <ion-header-bar></ion-header-bar>
          <!-- Tab 1 content -->
<nav-view ng-include src="'pages/menu/fullmenu.html'"></nav-view>

        </ion-tab>
        <ion-tab class="menu-recents" title="Recents">
          <ion-header-bar></ion-header-bar>
          <!-- Tab 1 content -->
<nav-view ng-include src="'pages/menu/recents.html'"></nav-view>
        </ion-tab>
        <ion-tab class="menu-favorite" title="Favorite">
          <ion-header-bar></ion-header-bar>
          <!-- Tab 1 content -->
<nav-view ng-include src="'pages/menu/favorite.html'"></nav-view>
        </ion-tab>
        <ion-tab class="menu-featured" title="Featured">
          <ion-header-bar></ion-header-bar>
          <!-- Tab 1 content -->
<nav-view ng-include src="'pages/menu/featured.html'"></nav-view>
        </ion-tab>
        <ion-tab class="menu-family" title="Family bundles">
          <ion-header-bar></ion-header-bar>
          <!-- Tab 1 content -->
<nav-view ng-include src="'pages/menu/family.html'"></nav-view>
        </ion-tab>
        <ion-tab class="menu-flame" title="Flame grilled burgers">
          <ion-header-bar></ion-header-bar>
          <!-- Tab 1 content -->
<nav-view ng-include src="'pages/menu/flame.html'"></nav-view>
        </ion-tab>
        <ion-tab class="menu-chicken" title="Chicken & more">
          <ion-header-bar></ion-header-bar>
          <!-- Tab 1 content -->
<nav-view ng-include src="'pages/menu/chicken.html'"></nav-view>
        </ion-tab>
        <ion-tab class="menu-sides" title="Sides">
          <ion-header-bar></ion-header-bar>
          <!-- Tab 1 content -->
<nav-view ng-include src="'pages/menu/sides.html'"></nav-view>
        </ion-tab>
        <ion-tab class="menu-drinks" title="Drinks & coffee">
          <ion-header-bar></ion-header-bar>
          <!-- Tab 1 content -->
<nav-view ng-include src="'pages/menu/drinks.html'"></nav-view>
        </ion-tab>
        <ion-tab class="menu-sweets" title="Sweets">
          <ion-header-bar></ion-header-bar>
          <!-- Tab 1 content -->
<nav-view ng-include src="'pages/menu/sweets.html'"></nav-view>
        </ion-tab>
        <ion-tab class="menu-king" title="King Jr.">
          <ion-header-bar></ion-header-bar>
          <!-- Tab 1 content -->
<nav-view ng-include src="'pages/menu/king.html'"></nav-view>
        </ion-tab>

     
       
      </ion-tabs>
            <ion-tabs  ng-hide="momentjournee === true" id="mymorninmenutabs" style="" delegate-handle="morninmenutabs" class="parentdiv tabsmenu tabs-striped tabs-positive tabs-top tabs-icon-top has-tabs-top">
 <ion-tab class="menu-fullmenu" title="Full Menu">
          <ion-header-bar></ion-header-bar>
          <!-- Tab 1 content -->
<nav-view ng-include src="'pages/matinmenu/matinfullmenu.html'"></nav-view>

        </ion-tab>
 <ion-tab class="menu-recents" title="Recents">
<nav-view ng-include src="'pages/matinmenu/recents.html'"></nav-view>
        </ion-tab>
 <ion-tab class="menu-favorites" title="Favorites">
        </ion-tab>
 <ion-tab class="menu-breakfast-meals" title="Breakfast Meals">
        </ion-tab>
 <ion-tab class="menu-breakfast-sandwiches" title="Breakfast Sandwiches">
        </ion-tab>
 <ion-tab class="menu-platters-burritos" title="Platters &amp; Burritos">
        </ion-tab>
 <ion-tab class="menu-breakfast-sides" title="Breakfast Sides">
        </ion-tab>
 <ion-tab class="drinks-coffee" title="Drinks &amp; Coffee">
        </ion-tab>



            </ion-tabs>
<script>
    window.onload=function(){
const slider = document.querySelector('.parentdiv > .tab-nav.tabs');
let mouseDown = false;
let startX, scrollLeft;

let startDragging = function (e) {
  mouseDown = true;
  startX = e.pageX - slider.offsetLeft;
  scrollLeft = slider.scrollLeft;
};
let stopDragging = function (event) {
  mouseDown = false;
};

slider.addEventListener('mousemove', (e) => {
  e.preventDefault();
  if(!mouseDown) { return; }
  const x = e.pageX - slider.offsetLeft;
  const scroll = x - startX;
  slider.scrollLeft = scrollLeft - scroll;
});

// Add the event listeners
slider.addEventListener('mousedown', startDragging, false);
slider.addEventListener('mouseup', stopDragging, false);
slider.addEventListener('mouseleave', stopDragging, false);    
    }
</script>
</ion-view>
